services:
  mongodb:
    build: ./mongodb
    image: santhiram/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  mysql:
    build: ./mysql
    image: santhiram/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  catalogue:
    build: ./catalogue
    image: santhiram/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  user:
    build: ./user
    image: santhiram/user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart:
    build: ./cart
    image: santhiram/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping:
    build: ./shipping
    image: santhiram/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./payment
    image: santhiram/payment:v1
    container_name: payment
    depends_on:
    - user
    - cart
    - rabbitmq
  frontend:
    build: ./frontend
    image: santhiram/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false
volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq: